
global:
  scrape_interval: {{ .Env.SCRAPE_INTERVAL }}
  external_labels:
    server: {{ .Env.SERVER_NAME }}

alerting:
  alertmanagers:

{{- range .data.targets }}
{{- if eq .mode "alertmanager" }}
    - static_configs:
        - targets:
            - "{{ .host }}:{{ .port }}"
{{- end}}
{{- end}}

rule_files:
  - "alerting-rules.yml"

scrape_configs:

{{- range .data.targets }}
{{- if eq .mode "scrape" }}

  - job_name: "{{ .name }}"
    static_configs:
      - targets:
          - "{{ .host }}:{{ .port }}"

{{- end }}
{{- end }}

{{- range .data.targets }}
{{- if eq .mode "blackbox" }}

  - job_name: "blackbox"
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
{{- range $.data.blackbox_targets }}
          - {{ . }}
{{- end }}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "{{ .host }}:{{ .port }}"

{{- end }}
{{- end }}

